extends layout
block content

  h1 Live Streaming Chat Message Management

  .container
    p Forward your chat messages to all live streams and manage them in one place. Future features include: reply via website and other services, forward chat messages to all platforms, and use them as lower thirds in your live stream.
    p This project is in it's infancy and not ready for the public yet. If you're interested in testing and discussing the future of mirroring.chat, please join me in the #[a(href="https://t.me/MirroringChat") Telegram Group].

