$twitch: #6441a5;

.twitch-bg {
  background-color: $twitch !important;
  color: #f1f1f1;
}

.twitch {
  // background-color: #fff;
  color: $twitch !important;
}

$youtube: #ff0000;

.youtube-bg {
  background-color: $youtube !important;
  color: #fff;
}

.youtube {
  // background-color: #fff;
  color: $youtube !important;
}

$facebook: #3b5998;

.facebook-bg {
  background-color: $facebook !important;
  color: #fff;
}

.facebook {
  // background-color: #fff;
  color: $facebook !important;
}

$discord: #7289da;

.discord-bg {
  background-color: $discord !important;
  color: #2c2f33 !important;
}

.discord {
  // background-color: #fff;
  color: $discord !important;
}

$telegram: #0088cc;

.telegram-bg {
  background-color: $telegram !important;
  color: #fff;
}

.telegram {
  // background-color: #fff;
  color: $telegram !important;
}